In [4]:
from random import randrange
while input("Do want to roll again : ") :
    print("score : ",randrange(1,7))

Do want to roll again : 1
score :  2
Do want to roll again : 2
score :  1
Do want to roll again :

# For_Loop

In [5]:
for var in 'python' :
    print(var)

p
y
t
h
o
n

In [9]:
l=[1,2,3,4,5,6,7,8,9,10]
for var in l :
    print(var)

1
2
3
4
5
6
7
8
9
10

In [10]:
l=[1,2,3,4,5,6,7,8,9,10]
num=int(input("Enter no. : "))
for var in l :
    print(num*var)

Enter no. : 5
5
10
15
20
25
30
35
40
45
50

In [12]:
d={
    'one':1,
    'two':2,
    'three':3,
    'four':4,
    'five':5
    }
for var in d:
    print(d)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [13]:
d={
    'one':1,
    'two':2,
    'three':3,
    'four':4,
    'five':5
    }
for var in d:
    print(var)

one
two
three
four
five

In [1]:
l=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for one,two,three in l :
    print(one,two,three)

1 2 3
4 5 6
7 8 9

In [2]:
s=int(input("Enter starting point :"))
e=int(input("Enter ending point :"))
num=int(input("enter num : "))
for var in range(s,e+1):
    if var % num==0 :
        print(var,end='\t')

Enter starting point :1
Enter ending point :100
enter num : 7
7	14	21	28	35	42	49	56	63	70	77	84	91	98

In [16]:
for var in range(-16,-18,-2):
    print(var)

-16

In [18]:
for var in  range(-100,0):
    print(var,end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [19]:
for var in range(-100,0,5):
    print(var,end=' ')

-100 -95 -90 -85 -80 -75 -70 -65 -60 -55 -50 -45 -40 -35 -30 -25 -20 -15 -10 -5

In [20]:
for var in range(-5,-100,-5):
    print(var,end=' ')

-5 -10 -15 -20 -25 -30 -35 -40 -45 -50 -55 -60 -65 -70 -75 -80 -85 -90 -95

In [22]:
for var in range(-1,-101,-1):
    if var%5==0 :
        print(var,end=' ')

-5 -10 -15 -20 -25 -30 -35 -40 -45 -50 -55 -60 -65 -70 -75 -80 -85 -90 -95 -100

In [3]:
l=[
    ['x','x','x'],
    ['x','x','x'],
    ['x','x','x']
]
for var in l :
    print(*var)
print("Player1")
x1=int(input("x : "))
y1=int(input("y : "))
l[x1][y1]='0'
x2=int(input("x : "))
y2=int(input("y : "))
l[x2][y2]='1'
for var in l :
    print(*var)

x x x
x x x
x x x
Player1
x : 0
y : 0
x : 1
y : 1
0 x x
x 1 x
x x x

In [1]:
c=1
while c<=10 :
    print(c)
    c=c+3

1
4
7
10